    <div class="page navigation">
       
        <!-- <div class="page"> -->
           
            <!-- <main>
                <div class="wrapper">
                </div>
            </main> -->
        <!-- </div> -->
        <ul>
            <li class="list active">
                <a href="#">
                    <span class="icon"><img width="25" src="./assets/img/home-outline.svg"> </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><img width="25" src="./assets/img/person-outline.svg"> </span>
                    <span class="text">About</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><img width="25" src="./assets/img/document-outline.svg"> </span>
                    <span class="text">Resume</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><img width="25" src="./assets/img/magnet-outline.svg"> </span>
                    <span class="text">Projects</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><img width="25" src="./assets/img/phone-portrait-outline.svg"> </span>
                    <span class="text">Contact</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
        
    </div>