/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
.dwn-cv{
    padding: 15px;
    border-radius: 31px;
    color: rgb(0, 0, 0);
    background-color: #FFBD39;
    border: none;
    font-weight: 600;
  }