<div>
    <div class="row">
        <div class="column">
            <div style="display: flex; justify-content: center;">
                <img class="profile-img" src="./assets/img/bg1.jpg" alt="">
            </div>
            <h2 class="heading">PRATIK MAURYA</h2>
        </div>
        <div class="column">
            <h1 class="heading-big">About</h1>
            <h2 class="heading">About Me</h2>
            <div>
                <h3 class="smallHeading">Who am I?</h3>
                <p style="color: white;">I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web
                    development and print media. I enjoy turning complex problems into simple, beautiful and intuitive
                    designs.
                    <br>
                    My aim is to bring across your message and identity in the most creative way. I created web design
                    for many famous brand companies.
                </p>
                <h3 class="smallHeading">Personal Info</h3>
                <div class="row" style="color: white;">
                    <div class="row">
                        <div>
                            <span class="icon"><img class="per-icon" width="25" style="background: #7739ff;"
                                    src="./assets/img/phone-portrait-outline.svg"> </span>
                        </div>
                        <div>
                            <p class="per-lab">Phone</p>
                            <p class="per-lab1">9082404787</p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 12.2em;">
                        <div>
                            <span class="icon"><img class="per-icon" width="25" style="background: #39ffb2;"
                                    src="./assets/img/location-outline.svg"> </span>
                        </div>
                        <div>
                            <p class="per-lab">Location</p>
                            <p class="per-lab1">Chandivali, Powai Mumbai</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;">
                    <div class="row">
                        <div>
                            <span class="icon"><img class="per-icon" width="25" style="background: #a2ff39;"
                                    src="./assets/img/mail-outline.svg"> </span>
                        </div>
                        <div>
                            <p class="per-lab">Email</p>
                            <p class="per-lab1">pratikmaurya12@gmail.com</p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 5rem;">
                        <div>
                            <span class="icon"><img class="per-icon" width="25" style="background: #ff7939;"
                                    src="./assets/img/calendar-outline.svg"> </span>
                        </div>
                        <div>
                            <p class="per-lab">Birthday</p>
                            <p class="per-lab1">30 December 1997</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 20px;">
                <button class="dwn-cv"><span class="icon"><img width="20" src="./assets/img/cloud-download-outline.svg">
                    </span>DOWNLOAD CV</button>
            </div>
        </div>
    </div>
    <div style="padding: 5rem;">
        <div>
            <h3 class="smallHeading">
                What I do!
            </h3>
        </div>
    </div>
</div>