<div>
    <div class="row">
        <div class="column">
            <!-- <h1 class="heading-big">About</h1>
            <h2 class="heading">About Me</h2> -->
            <h1>akjashdlh</h1>
        </div>
        <div class="column">
            <h1 class="heading-big">About</h1>
            <h2 class="heading">About Me</h2>
            <div>
                <table>
                    <tr>
                        <th>Name:</th>
                        <th>Pratik Maurya</th>
                    </tr>
                    <tr>
                        <th>Date of birth:</th>
                        <td>December 30 1997</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>Sangharsh Nagar chandivali</td>
                    </tr>
                    <tr>
                        <th>Zip code:</th>
                        <td>400072</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>pratikmaurya12@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>+91 9082404787</td>
                    </tr>
                </table>
            </div>
            <div style="padding-top: 20px;">
                <button class="dwn-cv">DOWNLOAD CV</button>
            </div>
        </div>
    </div>
</div>