<div>
    <div class="row">
        <div class="column" >
            <div style="display: flex; justify-content: center;">
                <img class="profile-img" src="./assets/img/bg1.jpg" alt="">
            </div>
            <h2 class="heading">PRATIK MAURYA</h2>
        </div>
        <div class="column">
            <h1 class="heading-big">About</h1>
            <h2 class="heading">About Me</h2>
            <div>
                <h3 class="smallHeading">Who am I?</h3>
                <p style="color: white;">I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs.
                    <br>
                    My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies.</p>
                    <h3 class="smallHeading">Personal Info</h3>
                    <div class="row" style="color: white;">
                        <div>Phone</div>
                        <div>Location</div>
                    </div>
                    <div class="row"  style="color: white;">
                        <div>Email</div>
                        <div>Birthday</div>
                    </div>
            </div>
            <div style="padding-top: 20px;">
                <button class="dwn-cv">DOWNLOAD CV</button>
            </div>
        </div>
    </div>
</div>